
@media all and (min-width: 1050px) {

    p {
        font-size: 16px;
    }

    #questions p {
        font-size: 14.5px;
    }
}

@media all and (min-width: 1150px) {

    .large {
        -ms-flex: 2.2 0 0;
        -webkit-flex: 2.2 0 0;
        flex: 2.2 0 0;
    }

}

@media all and (min-width: 1250px) {

    #text {
        margin: 30px;
        margin-right: 60px;
    }

    .large {
        -ms-flex: 2 0 0;
        -webkit-flex: 2 0 0;
        flex: 2 0 0;
    }

}

@media all and (min-width: 1350px) {

    #wrapper {
        height: 720px;
    }

    #intro {
        height: 720px;
    }

    #logo {
        top: 650px;
    }

    p {
        font-size: 17px;
    }

    #questions p {
        font-size: 15.5px;
    }

    #text {
        margin: 40px;
        margin-right: 80px;
    }

    .large {
        -ms-flex: 1.6 0 0;
        -webkit-flex: 1.6 0 0;
        flex: 1.6 0 0;
    }

}

@media all and (max-width: 900px) {

    p {
        font-size: 14.5px;
    }

    #questions p {
        font-size: 13.5px;
    }

    #questions ul {
        font-size: 13.5px;
    }

    #questions .point-up {
        font-size: 22px;
        line-height: 13px;
    }

    h2 {
        font-size: 1.2em;
    }

    h3 {
        font-size: 1.1em;
    }

    #step-nav p {
        font-size: 21px;
        line-height: 21px;
    }

    #step {
        font-size: 16px;
        padding-left: 8px;
        padding-right: 8px;
    }

    #text {
        margin: 15px;
    }

}

@media all and (max-width: 700px) {

    .large {
        -ms-flex: 2 0 0;
        -webkit-flex: 2 0 0;
        flex: 2 0 0;
    }

    p {
        font-size: 14.5px;
    }

    #questions p {
        font-size: 13px;
    }

    #questions ul {
        font-size: 13px;
    }

    h2 {
        font-size: 1.15em;
    }

    #flow-overview {
        width: 420px;
        height: 140px;
    }

    h1 {
        font-size: 26px;
    }

    #step-nav p {
        font-size: 20px;
        line-height: 20px;
    }

    #step {
        font-size: 15px;
        padding-left: 7px;
        padding-right: 7px;
    }

}

@media all and (max-width: 500px) {

    #dot-nav {
        display: none;
    }

    .small {
        position: absolute;
    }

    #text {
        top: 300px;
        margin: 10px;
    }

    #wrapper {
        height: 520px;
    }

    #intro-text-wrapper {
        margin-top: 70px;
    }

    #flow-overview {
        max-width: 95%;
        width: 360px;
        height: 110px;
    }

    button {
        font-size: 0.8rem;
        padding: 0.6rem 1.2rem;
    }

    #intro {
        height: 520px;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 1.1em;
    }

    p {
        font-size: 13.5px;
    }

    #questions p {
        font-size: 12px;
    }

    #questions ul {
        font-size: 12px;
    }

    .small2 {
        -ms-flex: 2.4 0 0;
        -webkit-flex: 2.4 0 0;
        flex: 2.4 0 0;
    }

    #step-nav p {
        font-size: 19px;
        line-height: 19px;
    }

    #step {
        font-size: 14px;
        padding-left: 6px;
        padding-right: 6px;
    }

    #text-wrapper {
        max-height: 200px;
    }

    .point-up {
        display: none;
    }

    #logo {
        top: 250px;
        width: 70px;
        height: 40px;
        z-index: -1;
    }

}