#wrapper {
    height: 650px;
}

.row {
    /* order important so don't override new syntax with old */
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    height: auto;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    margin: 0;
}

.large {
    -ms-flex: 3 0 0;
    -webkit-flex: 3 0 0;
    flex: 3 0 0;
}

.small {
    -ms-flex: 2 0 0;
    -webkit-flex: 2 0 0;
    flex: 2 0 0;
}

#viz {
    width: 100%;
    height: 100%;
}

.label {
    position: absolute;
}