body {
    margin: 0;
    font-family: "Open Sans", "Helvetica", sans-serif;
}

p {
    color: #252525;
    font-size: 15.5px;
}

#wrapper {
    height: 650px;
}

.row {
    /* order important so don't override new syntax with old */
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    height: auto;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    margin: 0;
}

.large {
    -ms-flex: 3 0 0;
    -webkit-flex: 3 0 0;
    flex: 3 0 0;
}

.small {
    -ms-flex: 2 0 0;
    -webkit-flex: 2 0 0;
    flex: 2 0 0;
}

#text {
    margin: 15px;
}

#background {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(to right, rgba(75,82,135, 0.55), rgba(56,138,142, 0.55));
    z-index: -1;
}

#logo {
    width: 100px;
    height: 70px;
    position: absolute;
    top: 580px;
    left: 5px;
    z-index: 20;
    background-image: url(../img/logo.svg);
    background-repeat: no repeat;
    background-size: cover;
    opacity: 0.65;
}

#flow-wrapper {
    position: relative;
    left: 0px;
}

#viz-wrapper {
    position: relative;
    left: 0px;
    opacity: 1;
}

#stage {
    color: white;
    background-color: #4B5287;
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 3px;
}

.label {
    text-anchor: middle;
    pointer-events: none;
    font-weight: bold;
}

#backButton {
    visibility: hidden;
}

line {
    opacity: 0.8;
}

@keyframes flicker {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}

@-o-keyframes flicker {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes flicker {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes flicker {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}

.arrow {
    -webkit-animation: flicker 1.5s infinite;
    -moz-animation: flicker 1.5s infinite;
    -o-animation: flicker 1.5s infinite;
    animation: flicker 1.5s infinite;
}

#step {
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    color: rgb(75,82,135);
}

#step-nav p {
    font-size: 20px;
    text-align: right;
    margin-right: 1em;
}

#description i {
    color: #adadad;
    padding-right: 2px;
}

#step-nav a {
    color: #adadad;
}

#step-nav a:hover {
    cursor: pointer;
    color: #616161;
}